@import "../../../Generic/Styles/ContentsGenericStyles.scss";
$padding: 30px 0;
.home_content{
  @extend %content_wrapper;

  .content_block{
    @extend %content_in_block;
    padding-top: 30px;
    font-family: Roboto sans-serif;
    .address{
      width: 100%;
      padding: $padding;
      span{
        margin-left: 30px;
      }
    }
    .tel_contacts{
      width: 100%;
      padding: $padding;
      display: flex;
      flex-wrap: wrap;
      strong{
        margin-bottom: 10px;
      }
      .number_list{
        margin-left: 30px;
        width: 200px;
        display: flex;
        flex-wrap: wrap;
        span{
          display: flex;
          width: 100%;
          margin-bottom: 5px;
          align-items: center;
          padding: 5px 20px;
          border-bottom: 1px solid rgba(0,0,0,0.3);
          img{
            width: 25px;
            margin-right: 20px;
          }
        }
      }
    }
    .social_media{
      width: 100%;
      padding: $padding;
      display: flex;
      flex-wrap: wrap;
      strong{
        margin-bottom: 10px;
      }
      .media_list{
        margin-left: 30px;
        width: 200px;
        display: flex;
        flex-wrap: wrap;
        span{
          display: flex;
          width: 100%;
          margin-bottom: 5px;
          align-items: center;
          padding: 5px 20px;
          border-radius: 3px;
          border: 1px solid rgba(0,0,0,0.3);
          cursor: pointer;
          transition: 300ms ease-in-out;
          &:hover{
            border: 1px solid rgba(255,0,0,0.5);
            color: red;
          }
          img{
            width: 25px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
