@import "../../../Generic/Styles/ContentsGenericStyles.scss";
.home_content{
  @extend %content_wrapper;

  .content_block{
    @extend %content_in_block;

    .context_wrapper{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      justify-content: center;
      padding: 30px 0;
    }
  }

}
