.menu_wrapper{
  width: 22%;
  background-color: #2F5AA8;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  color: white;
  font-size: 16px;
  .block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
  }

  .menuFooter{
    width: 100%;
    align-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-top: 2px solid white;
    font-style: italic;
  }

}

@media only screen and (max-width : 1000px){
  .menu_wrapper{
    font-size: 14px;
  }
}
@media only screen and (max-width : 700px){
  .menu_wrapper{
    width: 50%;
    position: absolute;
    z-index: 100;
    transform: translateX(-100%);
  }
}
@media only screen and (max-width : 600px){
  .menu_wrapper{
    width: 60%;
    font-size: 12px;
  }
}
@media only screen and (max-width : 400px){
  .menu_wrapper{
    width: 70%;
  }
}