@import "../../Generic/Styles/TextTypes";

.menu_wrapper{
  font-family: $text_family;
  font-size: $title_text_size_full_hd;
  width: 20%;
  background-color: #2F5AA8;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  color: white;
  transition: 5ms ease-in-out;
  .block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
  }

  .menuFooter{
    width: 100%;
    align-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-top: 2px solid white;
  }
  .menu_closing_icon{
    display: none;
  }
  .menu_open_icon{
    display: none;
  }
}

@media only screen and (max-width : 1500px){
  .menu_wrapper{
    font-size: $title_text_size_hd;
  }
}

@media only screen and (max-width : 1000px){
  .menu_wrapper{
    font-size: $title_text_size_tablet;
  }
}

@media only screen and (max-width : 800px){
  .menu_wrapper{
    width: 100vw;
    position: fixed;
    overflow-y: scroll;
    z-index: 100;
    height: 100vh;
    overflow-x: hidden;
    transform: translateX(-100%);
    .block{
      padding: 0 50px;
    }

    .menu_closing_icon{
      display: flex;
      position: absolute;
      margin: 35px 0 0 75%;
      background-color: #7391FC;
      color: #7391FC;
      cursor: pointer;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      img{
        width: 25px;
        transition: 300ms ease-in-out;
        &:hover{
          width: 30px;
        }
      }
    }
  }
}

.menu_active{
  transform: translateX(0);
}