.modal_window_context_wrapper{
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  img{
    max-height: 80vh;
    max-width: 100%;
    object-fit: cover;
  }
  p{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a{
      padding: 8px 20px;
      display: flex;
      background-color: white;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      border-radius: 5px;
      margin: 15px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      text-decoration: none;
      color: #7391FC;
      img{
        margin-right: 5px;
      }
    }
  }
}