.modal_window_context_wrapper{
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  img{
    max-height: 80vh;
    max-width: 100%;
    object-fit: cover;
  }
  p{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a{
      padding: 8px 20px;
      display: flex;
      background-color: white;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin: 15px;
      text-decoration: none;
      color: #7391FC;
      img{
        margin-left: 10px;
      }
    }
  }
}