.content_title_wrapper{
  width: 100%;
  height: 50px;
  background-color: white;
  align-self: start;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  font-weight: bolder;
  color: #7391FC;
  .menu_icon{
    width: 35px;
    height: 35px;
    align-self: center;
    transform: rotateZ(90deg);
    display: none;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  @media only screen and (max-width : 700px){
    padding-left: 30px;
    .menu_icon{
      display: flex;
    }
  }
}
