@import "../../../../Generic/Styles/ContentsGenericStyles.scss";
.home_content{
  @extend %content_wrapper;

  .content_block{
    @extend %content_in_block;
  }
  .context_wrapper{
    width: 100%;
    padding: 3% 8%;
    button{
      cursor: pointer;
      color: white;
      background-color: #7391FC;
      padding: 6px 12px;
      border-radius: 3px;
      border: none;
    }
    strong{
      font-size: $title_text_size_full_hd;
      display: block;
      width: 100%;
      margin: 5vh 0 1vh 0;
    }
    img{
      margin: 20px 0;
      width: 100%;
      border-radius: 5px;
    }
    p{
      color: #4B4B4B;
    }
  }
}

@media only screen and (max-width : 1500px){
  .context_wrapper{
    strong{
      font-size: $title_text_size_hd;
    }
  }
}

@media only screen and (max-width : 1000px){
  .context_wrapper{
    strong{
      font-size: $title_text_size_tablet;
    }
  }
}
@media only screen and (max-width : 600px){
  .context_wrapper{
    strong{
      font-size: $title_text_size_phone;
    }
  }
}

