.card {
  position: relative;
  height: 300px;
  width: 700px;
  margin: 20px auto;
  background-color: #FFF;
  -webkit-box-shadow: 8px 8px 70px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 8px 8px 70px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 8px 8px 70px 0 rgba(0, 0, 0, 0.2);
  transition: 500ms ease-in-out;
  border-radius: 5px;
  &:hover{
    cursor: pointer;
  }

}

/* Image on the left side */
.thumbnail {
  float: left;
  position: relative;
  left: 10px;
  top:  10px;
  height: 65%;
  width: 45%;
  transition: 500ms ease-in-out;
  -webkit-box-shadow: 8px 8px 70px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 8px 8px 70px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 8px 8px 70px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 5px;
  &:hover{
    cursor: pointer;
  }
}

/*object-fit: cover;*/
/*object-position: center;*/
img.left {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right side of the card */
.right {
  margin-left: 50%;
  margin-right: 2%;
}

h1 {
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4B4B4B;
}

.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

p {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}

/* DATE of release*/

h6 {
  position: absolute;
  left: 30px;
  bottom: -25px;
  font-size: 1rem;
  color: #C3C3C3;
}
