@import "../../../Generic/Styles/ContentsGenericStyles.scss";
.home_content{
  @extend %content_wrapper;

  .content_block{
    @extend %content_in_block;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
  }
}
