@import "TextTypes";

%content_wrapper{
  width: 80%;
  @media only screen and (max-width : 800px){
    width: 100%;
    height: 100%;
  }
}
%content_in_block{
  font-family: $text_family;
  font-size: $simple_text_size_full_hd;
  width: 100%;
  padding: 20px 50px;
  @media only screen and (max-width : 1500px){
    font-size: $simple_text_size_hd;
    padding: 20px 50px;
  }
  @media only screen and (max-width : 1000px){
    font-size: $simple_text_size_tablet;
    padding: 15px 30px;
  }
  @media only screen and (max-width : 800px){
    padding: 15px 5%;
  }
  @media only screen and (max-width : 600px){
    font-size: $simple_text_size_phone;
  }
}
