$text_family: "PT_Root_UI", Arial sans-serif;

$title_text_size_full_hd: 20px;
$title_text_size_hd: 18px;
$title_text_size_tablet: 16px;
$title_text_size_phone: 14px;

$simple_text_size_full_hd: 18px;
$simple_text_size_hd: 16px;
$simple_text_size_tablet: 14px;
$simple_text_size_phone: 12px;
